.navlink {
    text-decoration: none;
    color: var(--black-light);
    font-weight: var(--font-weight-regular);
    font-size: 1.125rem;
    line-height: 1.4375rem;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        font-weight: var(--font-weight-bold);
    }

    &, .navlink {
        margin-left: 2.5rem;
    }
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-grow: 1;
}