.text {
    font-size: 2.25rem;
    line-height: 3.5rem;
    color: var(--black);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1.625rem;
}
.underline {
    width: 3.5rem;
    height: 0.125rem;
    border-radius: 5px;
    background-color: var(--black);
}
.text_contrast {
    color: var(--white) !important;
}
.line_contrast {
    background-color: var(--white) !important;
}

.container {
    display: flex;
    flex-direction: column;

    &.left {
        align-items: flex-start;
    }
    &.center {
        align-items: center;
    }
    &.right {
        align-items: flex-end;
    }
}